name: Get VLille info every 10min by excecuting a Python Script and saving CSV

on:
  schedule:
    - cron: '*/10 * * * *'  # Every 10 min
  workflow_dispatch:  

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run Python script
        run: |
          python scrape_data.py  # Execute the script 

      - name: Commit CSV to repository
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@users.noreply.github.com"
          
          git add vlille_data_*.csv
          
          git commit -m "Ajout de nouveaux fichiers CSV"

          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  
